{% extends "base.html" %}
{% block content %}
<div class="card card-50" >
  <h1>Aeropuerto compartido</h1>
  <form method="post">
    <label>Ruta</label>
    <select name="route" required readonly>
        <option value="RC-CBA" selected readonly>Río Cuarto → Córdoba</option>
    </select>
    <label>Fecha ida</label>
    <input type="date" name="date" required min="{{ today }}" value="{{ form_data.get('date', today) }}">
    <label>Pasajeros</label>
    <select name="passengers">
      <option>1</option><option>2</option><option>3</option><option>4</option>
    </select>
    <button type="submit">Ver horarios disponibles</button>
  </form>
</div>
{% endblock %}
