{% extends "base.html" %}
{% block content %}
<div class="card card-50" >
  <h1>Encomiendas</h1>
  <form method="post">
    <label>Ruta</label>
    <select name="route" required>
      <option value="RC-CBA">Río Cuarto → Córdoba</option>
      <option value="CBA-RC">Córdoba → Río Cuarto</option>
    </select>
    <label>Fecha</label>
    <input type="date" name="date" required min="{{ today }}">
    <label>Cantidad de bultos (máx 2)</label>
    <select name="parcels">
      <option>1</option><option>2</option>
    </select>
   
    </div>
    <div class="card card-50" >
    <h2>Datos de contacto</h2>
    <label>Nombre y apellido</label><input name="name" required>
    <label>Teléfono</label><input name="phone" required>
    <label>Email</label><input name="email" type="email">

    <!-- Nuevos campos de direcciones -->
    <label>Dirección de retiro (donde buscamos el bulto)</label>
    <input name="pickup_address" placeholder="Calle y número, ciudad" required>

    <label>Dirección de entrega (donde se deja el bulto)</label>
    <input name="final_address" placeholder="Calle y número, ciudad" required>

    <button type="submit">Confirmar</button>
  </form>
</div>
{% endblock %}
