{% extends "base.html" %}
{% block content %}
<div class="card card-50">
  <h2>Confirmar reserva <br>{{ 'Río Cuarto → Córdoba' if sch.route=='RC-CBA' else 'Córdoba → Río Cuarto' }} <br> {{ sch.date }} {{ sch.time }}</h2>
  <p>Cupos libres: {{ free }}. Pasajeros: {{ passengers }}</p>
  <form method="post">
    <label>Nombre y apellido</label>
    <input name="name" required>
    <label>Teléfono</label>
    <input name="phone" required>
    <label>Email</label>
    <input name="email" type="email">

    <label>Dirección de retiro</label>
    <select id="pickup_select" name="pickup_address" required>
      {% for addr in retiro_options %}
      <option value="{{ addr }}">{{ addr }}</option>
      {% endfor %}
      <option value="otro">Otro {{ '(Tiene costo adicional)' if sch.route=='CBA-RC'}}</option>
    </select>
    <input id="pickup_custom" name="pickup_address_custom" placeholder="Ingrese dirección en {{ 'Río Cuarto' if sch.route=='RC-CBA' else 'Córdoba' }} si eligió Otro" disabled>

    <label>Dirección de llegada</label>
    <select id="final_select" name="final_address_select" required>
      {% for addr in llegada_options %}
      <option value="{{ addr }}">{{ addr }}</option>
      {% endfor %}
      <option value="otro">Otro {{ '(Tiene costo adicional)' if sch.route=='RC-CBA'}}</option>
    </select>
    <input id="final_custom" name="final_address_custom" placeholder="Ingrese dirección en {{ 'Córdoba' if sch.route=='RC-CBA' else 'Río Cuarto' }} si eligió Otro" disabled>

    <label>Extras</label>
    <div>
      <label><input type="checkbox" name="extra_luggage"> Valija extra (+${{ '%.0f'|format( (config_price or 0) ) }})</label>
      <label><input type="checkbox" name="pet"> Llevar mascota (+${{ '%.0f'|format( (config_pet or 0) ) }})</label>
    </div>

    <div>
      <a href="{{ url_for('shared') }}"><button type="button" class="secondary">Volver</button></a>
      <br>
    </div>
      <div>
      <button type="submit">Confirmar</button>
      <br>
    </div>
    
  </form>
</div>

<script>
  const pickupSelect = document.getElementById('pickup_select');
  const pickupCustom = document.getElementById('pickup_custom');
  const finalSelect = document.getElementById('final_select');
  const finalCustom = document.getElementById('final_custom');

  pickupSelect.addEventListener('change', function() {
    pickupCustom.disabled = this.value !== 'otro';
  });

  finalSelect.addEventListener('change', function() {
    finalCustom.disabled = this.value !== 'otro';
  });
</script>
{% endblock %}
